// flex 布局复用
@mixin flex($row:space-between,$col:center) {
    display: flex;
    justify-content: $row;
    align-items: $col;
}
@mixin bgImg($w,$h,$url,$size:contain) {
    display: inline-block;
    background: url($url) no-repeat center;
    background-size: $size;
    width: $w;
    height: $h;
}